name: Build frontend app and deploy

on:
#  workflow_dispatch:
  push:
    branches:
      - frontend
#    paths:
#      - 'frontend/**'

#env:
#  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
#  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#  AWS_DEFAULT_REGION: "us-east-1"

jobs:
  BuildAndDeploy:
    name: Build frontend app and deploy
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: builddocker
        run: apt-get update && apt-get -y install npm
        run: npm install -g @angular/cli
        run: docker build -t frontend .

      - name: testdocker
        run: ng test